
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

body {
	
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
p{
	margin-left: 75px;
}
a{
	margin-left: 120px;
	text-align: center;
}
img{
	margin-left: 40px;
}


input {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

.Registro {
	margin: 40px auto;
	margin-left: 500px;
	width: 242px;
}


.Registro input {
	border: none;
	height: 48px;
	outline: none;
}

.Registro input[type="text"] {
border: 1px solid #696969;
border-width: 2px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
	padding-left: 36px;
     color: #A9A9A9;
	width: 304px;
}

.Registro input[type="password"] {
border: 1px solid #696969;
border-width: 2px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
	margin-bottom: 20px;
	padding-left: 36px;
     color: #A9A9A9;
	width: 304px;
}

.Registro input[type="submit"] {
	background-color: #FF8C00;
	border: 1px solid #2c90c6;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
	color: #fff;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 50px;
	width: 240px;
}

.Registro input[type="submit"]:hover {
	background-color: #FF8C00;
  box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}


p:hover {
  text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

.btn btn-outline-dark{
	margin-left: 400px;
}